* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button,
input,
textarea,
label,
select,
option,
form,
section,
article,
ul,
ol,
li,
img,
video,
table,
tr,
td,
th,
caption,
label,
select,
option,
form,
div,
section,
article {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

